*{
    margin: 0;
    padding:0;
}
body{
    scroll-snap-type: y mandatory;
    /* overflow: hidden; */
}
.one,.two,.three{
    height: 100vh;
    color: #fff;
    scroll-snap-align:start;
}

.one{
    background-color: seagreen;
}
.two{
    background-color: royalblue;
}
.three{
    background-color: pink;
}